<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Editar Disco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-item>
    <ion-label>Artista</ion-label>
    <ion-input [(ngModel)]="data.artista" placeholder="Digite Artista"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="data.titulo" placeholder="Digite titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-input [(ngModel)]="data.fecha" placeholder="Digite fecha"></ion-input>
  </ion-item>
  <ion-button (click)="update()" color="success" size="small">
    Actualizar
  </ion-button>
  <ion-button [routerLink]="[ '/listar-discos']" color="danger" size="small">
    Cancelar
  </ion-button>
</ion-content>
