<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Listar Discos Pros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Artista</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of albumsData">
        <td>{{ item.id }}</td>
        <td>{{ item.artista }}</td>
        <td>{{ item.titulo }}</td>
        <td>{{ item.fecha }}</td>
        <td style="display: flex">
          <ion-button color="warning" size="small" routerLink='/editar-disco/{{item.id}}'>
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="small" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  <ion-button [routerLink]="['/crear-disco']">
    Agregar
  </ion-button>
</ion-content>
